/* .grow-wrap { */
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    /* display: grid;
  } */
/* .grow-wrap::after { */
  /* Note the weird space! Needed to preventy jumpy behavior */
  /* content: attr(data-replicated-value) " "; */

  /* This is how textarea text behaves */
  /* white-space: pre-wrap; */

  /* Hidden from view, clicks, and screen readers */
  /* visibility: hidden;
} */
/* .grow-wrap > textarea { */
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  /* resize: none; */

  /* Firefox shows scrollbar on growth, you can hide like this. */
  /* overflow: hidden;

  border: none;
  padding-right: 20px;
  width: 100%;

} */
/* .grow-wrap > textarea,
.grow-wrap::after { */
  /* Identical styling required!! */
  /* padding: 0.5rem; */
  /* font: inherit; */


  /* Place on top of each other */
  /* grid-area: 1 / 1 / 2 / 2; */
/* } */

/* .grow-wrap > textarea:focus {
  outline: none
} */

.first-form {
  display: flex;
  align-items: center;
}

#Prompt:focus {
  outline: none;
}

.input-normal {
  height: 48px;
  transition: height 600ms ease-in-out;
  -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.input-expanded {
  min-height: 100px;
  overflow-y:visible;
  transition: height 600ms ease-in-out;
  line-height: 1.3rem;
  -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #FFFFFF;
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" opacity="0.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-up-down"><path d="m7 15 5 5 5-5"/><path d="m7 9 5-5 5 5"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  padding: 6px 12px;
  padding-right: 2rem;
}

select:focus {
  outline: none;
}

button[type="submit"] {
  display: flex;
  gap:4px;
  align-items: center;
  width: max-content;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: white;
  background-color: #1F323D;
}

button[type="submit"]:hover {
  color: white;
  background-color: #8F22CE;
}

button[type="submit"]:disabled > svg > path {
  fill: #94ABB8;
}


button[type="submit"]:disabled {
  color: #94ABB8;
  background-color: #E1EAEF;
}

.prompt-input {
  resize: none;
  border: none;
  min-width: 100%;
  text-align: left;
  padding-top: 16px;
  font-size: 20px;
  font-weight: 400;
  transition: height 0.6s;
}

.prompt-actions-container {
  display:flex;
  margin:8px 0px 8px 0px;
  justify-content:space-between;
}

.prompt-actions {
  display:flex;
  gap:8px
}

@media screen and (max-width: 991px) {
  .footer-links-block {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
/* 
    Adjusting the font-size for mobile view giving space 
    for the wrapper to wrap to the width of screen 
  */
  .prompt-input {
    font-size: 16px;
    padding-top: 10px;
  }

  /* 
    Adjusting the action fields based on the available width.
  */
  .prompt-actions {
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  /* 
    In mobile create some margin horizontally
    !important is required, cause of the css specificity
  */
  .container {
    margin: 0 12px !important;
  }

  /*
    Making every child of the flex to occupy same space giving it a nicer look.
  */
  .prompt-actions > * {
    /* Giving the space for items to wrap for margins & paddings */
    width: 48%;
    height: 40px;
  }

  /* 
    Contain the flex-direction to column giving us to accommodate all the buttons in a nicer view
  */
  .prompt-actions-container {
    flex-direction: column;
  }

  label[for="video"], label[for="book"]{
    width: 50%;
    margin: 0 !important;
    height: 100%;
    text-align: center;
  }
}

.button-nosubmit:disabled {
  color: #FFFFFF
}
.button-nosubmit:hover:disabled {
  color: #FFFFFF
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 4px;
  border: 4px solid #F1F5F9;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #F1F5F9 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
